@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: poppins;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
#main {
	height: 100vh;
	position: relative;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #ffffff;
}
.logo img {
	width: 45px;
}

nav ul {
	display: flex;
}
nav ul li a {
	height: 40px;
	line-height: 40px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #585b5b;
	letter-spacing: 1px;
}
.hey {
	color: #39bfbd;
	font-weight: 500;
	font-size: 0.9rem;
	border-bottom: 2px solid #40c6c4;
}
